@model CarServer.Controllers.AccountController.AppUserRegister

@{
    ViewData["Title"] = "Đăng ký";
}
<link rel="stylesheet" href="~/css/account.css" />

<div id="account-section">
    <div class="account-container">
        <div class="account-image">
            <img src="https://storage.googleapis.com/a1aa/image/1GvAUuCks1BLW88tkicOPm9W9AQqz46EshUY4yAdeIQ.jpg" alt="account Image" />
        </div>

        <div class="account-form-container">
            <h2 class="account-title">ĐĂNG KÝ</h2>
            <form class="account-form" asp-action="Register" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" asp-for="Email" id="email" class="form-control" />
                    <span class="fg-red" asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label for="username">User name</label>
                    <input type="text" asp-for="UserName" id="username" class="form-control" />
                    <span class="fg-red" asp-validation-for="UserName"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="password-wrapper">
                        <input type="password" asp-for="Password" id="password" class="form-control" />
                        <div class="toggle-password eye-icon" onclick="showAndHidePassword(this)"></div>
                    </div>
                    <span class="fg-red" asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label for="password">Nhập lại password</label>
                    <div class="password-wrapper">
                        <input type="password" asp-for="ReEnterPassword" id="password" class="form-control" />
                        <div class="toggle-password eye-icon" onclick="showAndHidePassword(this)"></div>
                    </div>
                    <span class="fg-red" asp-validation-for="ReEnterPassword"></span>
                </div>
                <div class="form-options">
                    <a asp-controller="Account" asp-action="Login" class="forgot-password">Đã có tài khoản? Đăng nhập</a>
                </div>
                <button type="submit" class="account-button">ĐĂNG KÝ</button>
            </form>
        </div>
    </div>
</div>

<script src="~/js/account.js"></script>