@{
    ViewData["Title"] = "Result";
    var message = TempData["SuccessMessage"] as string;
}

<style>
    #message-body {
        font-family: Arial, sans-serif;
        padding: 2rem;
    }

    .message-box {
        background-color: var(--primary-background-color);
        color: var(--secondary-foreground-color);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        padding: 1rem;
        border-radius: 8px;
        max-width: 400px;
        margin: 2rem auto;
        text-align: center;
    }
</style>

<div id="message-body">
    @if (!string.IsNullOrEmpty(message))
    {
        <div class="message-box">
            <h2><strong>Thông báo</strong></h2>
            <p>@message</p>
        </div>

        <script>
            setTimeout(() => {
                window.location.href = '/';
            }, 3000);
        </script>
    }
</div>