@model Guid

@{
    ViewData["Title"] = "CreateCar";
}

<h1 class="fg-main">Tạo xe mới</h1>

<hr />
<div class="row fg-main">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="form-label">Guid</label>
                <input class="form-control bg-main fg-second" name="Id" />
                <span class="text-danger mt-1">@ViewData.ModelState["IdError"]?.Errors[0].ErrorMessage</span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
