@model IEnumerable<CarServer.Models.Car>

@{
    ViewData["Title"] = "Car status";
}

<h1 class="fg-main">Thông tin trạng thái xe</h1>

<p>
    <a asp-action="Create" class="fg-blue" >Tạo xe mới</a>
</p>
<table class="table">
    <thead class="fg-main">
        <tr>
            <th>
                Guid car
            </th>
            <th>
                Eps32 Control
            </th>
            <th>
                Eps32 Camera
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="fg-main" id="car-guid-@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @(item.Esp32Control.IsOnline == true ? "Đang online" : $"Lần online gần nhất: {item.Esp32Control.LastSeen.ToString("dd/MM/yyyy HH:mm:ss")}")
                </td>
                <td>
                    @(item.Esp32Camera.IsOnline == true ? "Đang online" : $"Lần online gần nhất: {item.Esp32Camera.LastSeen.ToString("dd/MM/yyyy HH:mm:ss")}")
                </td>
                <td>
                    <p class="fg-red m-0 text-decoration-underline cursor-pointer" onclick="deleteConfirm(`@item.Id`)">Xóa</p>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function deleteConfirm(guid) {
        if (confirm(`Bạn có muốn xóa xe có Guid: "${guid}"`)) 
        {
            fetch(`${document.location.origin}/Car/Delete?id=${guid}`, {method: 'POST' })
                    .then(response => {                        
                        if (response.ok) {
                            document.getElementById(`car-guid-${guid}`).remove()
                            alert("Xóa thành công");
                        }
                        else {
                            alert("Xóa thất bại");
                        }
                    })
        }
    }
</script>
