:root {
    --primary-foreground-color: #2C3E50;
    --secondary-foreground-color: #8d99ae;
    --primary-background-color: #d7ffd7;
    --secondary-background-color: #f5f5f5;
    --light-color: #fff;
    --orange-color: #ffae00;
    --red-color: #df0002;
    --green-color: #0cbd00;
    --blue-color: #0098ff;
    --purple-color: #9b69ea;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-main {
    background-color: var(--primary-background-color);
}

.bg-second {
    background-color: var(--secondary-background-color);
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}

.bg-red {
    background-color: var(--red-color);
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-yellow {
    background-color: var(--yellow-color);
}

.bg-green {
    background-color: var(--green-color);
}

.fg-main {
    color: var(--primary-foreground-color);
}

.fg-second {
    color: var(--secondary-foreground-color);
}

.fg-white {
    color: #fff;
}

.fg-black {
    color: #000;
}

.fg-red {
    color: var(--red-color);
}

.fg-blue {
    color: var(--blue-color);
}

.fg-yellow {
    color: var(--yellow-color);
}

.fg-green {
    color: var(--green-color);
}

.btn-no-border {
    border: none;
}

.btn-padding {
    padding: .375rem .75rem
}

.btn-no-bg {
    background: none;
}

.btn-border-radius {
    border-radius: .25rem;
}

    .nav-a {
        color: var(--primary-foreground-color);
        font-size: 16px;
        padding: 0;
        margin-right: 24px;
        transition: 0.2s;
        text-decoration: none;
    }

.nav-a:hover {
    color: var(--blue-color);
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}